/*Header CSS */
header{
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

nav, nav span{
  display: inline-block;
}

nav span{

  padding: 20px 10px;
}

a{
    color: black;
}

.logo{
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  flex-grow: 1;
}

.logo span{
  color: MediumAquamarine;
  padding-left: 10px;
}


/**/

div{
  border: 1px solid black;
}

/**/

/*Main content CSS*/
main, .column{
  display: flex;
}
main{
  justify-content: space-between;
  padding-top: 20px;
  width: 1232px;
}

.column{
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
